#middle-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#list-app {
  width: 40%;
}

#list-app li + li {
  margin-top: 20px;
}

#list-app li span {
  display: inline-block;
}

#list-app li a {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 13px;
}

#list-app li a:hover {
  background-color: #fafafa;
}

.ap-ico {
  width: 90px;
  line-height: 0;
}

.app-name {
  width: calc(80% - 90px);
  padding-left: 20px;
  font-size: 22px;
  line-height: 28px;
}

.app-name-s {
  color: #777;
  font-size: 14px;
  line-height: 16px;
}

.app-name-s + .app-name-s {
  margin-top: 3px;
}

.app-name-ttl {
  padding-bottom: 7px;
}

.app-name-s span {
  float: left;
  width: 30%;
  margin-right: 13px;
}

.app-sz {
  width: 20%;
  font-size: 16px;
  line-height: 18px;
  color: #555;
  text-align: right;
}

#list-app img {
  max-width: 100%;
}

/*
* MEDIA
*/

@media (max-width: 1200px) {
  #list-app {
    width: 50%;
  }
}

@media (max-width: 640px) {
  #list-app {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #list-app {
    width: 100%;
  }
}
