{{ define "title" }}{{ re "Signup" }}{{ end }}
{{ define "please" }}{{ label "register_title" }}{{ end }}
{{ define "auth_form" }}
  {{ $au := (index . "au") }}
  {{ $ac_error := $au.GetError "ac" }}
  {{ $em_error := $au.GetError "em" }}
  {{ $pas_error := $au.GetError "pas" }}
  {{ $cpas_error := $au.GetError "cpas" }}
  {{ $all_error := $au.GetError "all" }}
  {{ if $all_error }}
    <div id="all-error">
      {{ $all_error }}
    </div>
  {{ end }}
  <div class="form-it-cont">
    <label class="form-lbl" for="reg-name">{{ label "ac" }}</label>
    <div class="form-inp-cont">
      <input type="text"
             class="form-inp"
             id="reg-name"
             name="ac"
             value="{{ $au.Ac }}"
             required
             autocomplete="off"
             autofocus />
      <span class="inp-icon"><i class="far fa-user"></i></span>
    </div>
    {{ if $ac_error }}
      <span class="invalid-feedback" role="alert">
        {{ $ac_error }}
      </span>
    {{ end }}
  </div>
  <div class="form-it-cont">
    <label class="form-lbl" for="reg-email">{{ label "em" }}</label>
    <div class="form-inp-cont">
      <input style="display:none" type="email" name="foilautofill" />
      <input type="email"
             class="form-inp"
             id="reg-email"
             name="em"
             value="{{ $au.Em }}"
             required
             autocomplete="off" />
      <span class="inp-icon"><i class="far fa-envelope"></i></span>
    </div>
    {{ if $em_error }}
      <span class="invalid-feedback" role="alert">
        {{ $em_error }}
      </span>
    {{ end }}
  </div>
  <div class="form-it-cont">
    <label class="form-lbl" for="reg-password">{{ label "pas" }}</label>
    <div class="shpa-container">
      <input type="text"
             class="form-inp pass"
             id="reg-password"
             name="pas"
             value=""
             required
             autocomplete="off" />
      <div class="shpa-icon">
        <svg class="hi" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"><path stroke="#999" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10a13.358 13.358 0 0 0 3 2.685M21 10a13.358 13.358 0 0 1-3 2.685m-8 1.624L9.5 16.5m.5-2.19a10.59 10.59 0 0 0 4 0m-4 0a11.275 11.275 0 0 1-4-1.625m8 1.624.5 2.191m-.5-2.19a11.275 11.275 0 0 0 4-1.625m0 0 1.5 1.815M6 12.685 4.5 14.5"/></svg>
        <svg class="sh" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"><path stroke="#999" stroke-linejoin="round" stroke-width="2" d="M3 12c5.4-8 12.6-8 18 0-5.4 8-12.6 8-18 0z"/><path stroke="#999" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/></svg>
      </div>
    </div>
    {{ if $pas_error }}
      <span class="invalid-feedback" role="alert">
        {{ $pas_error }}
      </span>
    {{ end }}
  </div>
  <div class="form-it-cont">
    <label class="form-lbl" for="reg-cpassword">{{ label "cpas" }}</label>
    <div class="shpa-container">
      <input type="text"
             class="form-inp pass"
             id="reg-cpassword"
             name="cpas"
             value=""
             required
             autocomplete="off" />
      <div class="shpa-icon">
        <svg class="hi" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"><path stroke="#999" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10a13.358 13.358 0 0 0 3 2.685M21 10a13.358 13.358 0 0 1-3 2.685m-8 1.624L9.5 16.5m.5-2.19a10.59 10.59 0 0 0 4 0m-4 0a11.275 11.275 0 0 1-4-1.625m8 1.624.5 2.191m-.5-2.19a11.275 11.275 0 0 0 4-1.625m0 0 1.5 1.815M6 12.685 4.5 14.5"/></svg>
        <svg class="sh" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24"><path stroke="#999" stroke-linejoin="round" stroke-width="2" d="M3 12c5.4-8 12.6-8 18 0-5.4 8-12.6 8-18 0z"/><path stroke="#999" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/></svg>
      </div>
    </div>
    {{ if $cpas_error }}
      <span class="invalid-feedback" role="alert">
        {{ $cpas_error }}
      </span>
    {{ end }}
  </div>
{{ end }}
