{{ define "_bimg" }}
  {{ $th := .GetBim }}
  {{ $sh := " empty" }}
  {{ $ex := "" }}
  {{ if $th }}
    {{ $sh = " show" }}
    {{ $ex = " ex-img" }}
  {{ end }}
  <div id="frm-bim" class="form-tab-content">
    <div class="form-it-cont">
      <div class="img-box-container{{ $ex }}">
        <div class="crop-tools">
          <div class="crop-tools-btns clearfix">
            <span class="start-crop" title="{{ re "Toggle cropping" }}">
              <i class="fa-solid fa-crop"></i>
            </span>
            <span class="end-crop" title="{{ re "Save cropping" }}">
              <i class="fa-regular fa-circle-check"></i>
            </span>
            <div class="crop-size"></div>
          </div>
        </div>
        <div class="img-box{{ $sh }}">
          <input type="file" name="user-bim" id="user-bim" class="img-selector" />
          <span class="img-hint">
            Choose file
          </span>
          <img class="img-tag{{ $sh }}" src="{{ $th }}" />
        </div>
      </div>
    </div>
  </div>
{{ end }}
