.search-able {
  position: relative;
}

.se-list {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  left: 0;
  bottom: -3px;
  transform: translateY(100%);
  color: #fff;
  background-color: #394455;
  border: 1px solid #2d3848;
  border-radius: 7px;
  box-shadow: 0 0 7px #394455;
  scrollbar-color: #72839f #1a1f29;
  scrollbar-width: thin;
}

.se-list.hid {
  display: none;
  border: none;
  box-shadow: none;
}

.se-list-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 35px;
  height: calc(100% - 4px);
  border: none;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  background-color: #efefef;
  border-radius: 7px;
  cursor: pointer;
  z-index: 11;
}

.se-list-btn:hover {
  background-color: #e0e0e0;
}

.se-list-btn.cl.hid {
  display: none;
}

.se-list-btn.cl {
  top: 43px;
  background-color: #455368;
  color: #d7d7d7
}

.se-list-btn.cl:hover {
  background-color: #303b4a;
}

.se-list-btn:focus {
  outline: 2px dashed #00a700;
}

.se-list-btn.cl:focus {
  outline: 2px dashed #637b9e;
}

.search-list-ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 38px 11px 10px;
}

.search-list-ul li.sele {
  background-color: #535e7e;
}

.search-list-ul li:not(.sele):hover {
  background-color: #434e5e;
}

.search-list-ul li span {
  display: inline-block;
}

.search-list-ul li span:first-child {
  width: 55%;
}

.search-able.one .search-list-ul li span:first-child {
  width: 100%;
}

.search-list-ul li span + span {
  margin-left: 13px;
  width: calc(45% - 13px);
  color: #a7a7a7;
}
